<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Sweet Incendiaries", root_path, class: "navbar-brand hidden-sm hidden-md hidden-lg" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
      <li class="dropdown active">
        <%= link_to "Shop", data: { toggle: "dropdown" } do %>
          Shop
          <span class="caret"></span>
        <%- end %>
        <ul class="dropdown-menu">
          <li><%= link_to "All Products", products_path %></li>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, category %></li>
          <% end %>
        </ul>
      </li>
      <li><%= image_tag("logo.png", class: "logo hidden-xs", :alt => "logo") %><p id="logo-text" class="hidden-xs">Sweet Incendiaries</p></li>
        <li><%= link_to "About Us", static_pages_about_path %></li>
        <li>
          <% if user_signed_in? %>
            Logged in as <%= current_user.name %>.
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "navbar-link" %>
          <% end %>
        </li>
        <li><%= render "cart" %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    <!-- <p class="tagline">100% soy candles handmade in Denver, CO</p> -->
  </div><!-- /.container-fluid -->
</nav>
